.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr ;
}
.dialogs_members{
    padding: 10px;
}
.dialogs_members a.active{
    color: gold;
}
.member{
    padding: 10px;
}
.member img {
    width: 40px;
    height: 40px;
    border-radius: 16px;
}
.messages{
    padding: 10px;
}
.message{
    padding: 10px;
}
